div.page-layout {}

div.pokemon-display {
    margin-left: 20%;
    margin-right: 20%;
}

div.pokemon-icon {
    display: inline-flex;
    padding: 5px;
    font-size: large;
}

div.active {
    font-weight: bold;
}

div.weight-table {
    margin-left: 10%;
    margin-right: 10%;
    display: inline-flex;
}