div.page-layout {}

div.pokemon-display {
    margin-left: 15%;
    margin-right: 15%;
}

div.pokemon-icon {
    display: inline-flex;
    margin: 5px;
}

img.select-img {
    display: block;
    width: 100px;
    text-align: center;
}

div.active {
    font-weight: bold;
    color: blue;
    margin: 3px;
}

img.active-img {
    border: 2px solid red;
    border-radius: 10px;
}

div.weight-table {
    margin-left: 20%;
    margin-right: 20%;
    display: inline-flex;
}